openapi: 3.0.3
info:
  contact:
    email: support@salestim.com
    name: SalesTim Support
    url: https://developers.salestim.com/api
  description: |
    The Microsoft Teams Governance API
  license:
    name: (c) Copyright 2019-2020 SalesTim - all rights reserved.
    url: https://www.salestim.com/legal/eula
  termsOfService: https://www.salestim.com/legal/tos
  title: SalesTim API
  version: 1.0.0
servers:
- description: SalesTim API v1.0 (Production environment, uses live data)
  url: https://api.salestim.io/v1.0
tags:
- description: Templates from the public template store
  externalDocs:
    url: https://developers.salestim.com/api/reference/resources/store
  name: Store
- description: Templates from your corporate catalog
  externalDocs:
    url: https://developers.salestim.com/api/reference/resources/catalog
  name: Catalog
- description: Platform Plugins (aka "Virtual Apps")
  externalDocs:
    url: https://developers.salestim.com/api/reference/resources/plugins
  name: Plugins
- description: Jobs
  externalDocs:
    url: https://developers.salestim.com/api/reference/resources/jobs
  name: Jobs
paths:
  /store/templates:
    get:
      description: |
        <a href="" target="_blank"> <img src="https://img.shields.io/badge/dynamic/json?url=https://api.salestim.io/v1.0/store/templates&label=Template%20Store&query=$.body.length&color=darkslateblue&suffix=%20templates%20published&logo=microsoft-teams&logoColor=white" /> </a> <hr /> **View** all templates from the [Public Template Store](https://store.salestim.com) or **Publish** your own templates to the [Template Manifests Repository](https://github.com/SalesTim/template-manifests)
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store/#getStoreTemplates
      operationId: GetStoreTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfStoreTemplates'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      summary: Get all templates from the public template store
      tags:
      - Store
      x-eov-operation-handler: controllers/StoreController
  /store/templates/{id}:
    get:
      description: |
        <a href="" target="_blank"> <img src="https://img.shields.io/badge/dynamic/json?url=https://api.salestim.io/v1.0/store/templates&label=Template%20Store&query=$.body.length&color=darkslateblue&suffix=%20templates%20published&logo=microsoft-teams&logoColor=white" /> </a> <hr /> **View** all templates from the [Public Template Store](https://store.salestim.com) or **Publish** your own templates to the [Template Manifests Repository](https://github.com/SalesTim/template-manifests)
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store/#getStoreTemplate
      operationId: GetStoreTemplate
      parameters:
      - description: The template ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTemplate'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      summary: Get a store template
      tags:
      - Store
      x-eov-operation-handler: controllers/StoreController
  /store/templates/byCategory/{id}:
    get:
      description: |
        <a href="" target="_blank"> <img src="https://img.shields.io/badge/dynamic/json?url=https://api.salestim.io/v1.0/store/templates&label=Template%20Store&query=$.body.length&color=darkslateblue&suffix=%20templates%20published&logo=microsoft-teams&logoColor=white" /> </a> <hr /> **View** all templates from the [Public Template Store](https://store.salestim.com) or **Publish** your own templates to the [Template Manifests Repository](https://github.com/SalesTim/template-manifests)
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store/#getStoreTemplatesByCategory
      operationId: GetStoreTemplatesByCategory
      parameters:
      - description: The category ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfStoreTemplates'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      summary: Get store template from a specific category
      tags:
      - Store
      x-eov-operation-handler: controllers/StoreController
  /store/categories:
    get:
      description: |
        <a href="" target="_blank"> <img src="https://img.shields.io/badge/dynamic/json?url=https://api.salestim.io/v1.0/store/templates&label=Template%20Store&query=$.body.length&color=darkslateblue&suffix=%20templates%20published&logo=microsoft-teams&logoColor=white" /> </a> <hr /> **View** all templates from the [Public Template Store](https://store.salestim.com) or **Publish** your own templates to the [Template Manifests Repository](https://github.com/SalesTim/template-manifests)
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store/#getStoreCategories
      operationId: GetStoreCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfStoreCategories'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      summary: Get all store categories from the public template store
      tags:
      - Store
      x-eov-operation-handler: controllers/StoreController
  /catalog/templates:
    get:
      description: Get all templates from your corporate catalog
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/catalog/#getCatalogTemplates
      operationId: GetCatalogTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfCatalogTemplates'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - bearerAuth: []
      - pluginId: []
        pluginSecret: []
      summary: Get all templates from your corporate catalog
      tags:
      - Catalog
      x-eov-operation-handler: controllers/CatalogController
  /catalog/templates/installFromStore:
    post:
      description: Install a template from the public template store to your corporate
        catalog
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/catalog/#installTemplateFromStore
      operationId: InstallTemplateFromStore
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              description: Object defining the ID of the template to be installed
              properties:
                id:
                  description: The template ID to be installed
                  type: string
              type: object
        description: The template to be installed
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogTemplate'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - bearerAuth: []
      summary: Install a template from the public template store to your corporate
        catalog
      tags:
      - Catalog
      x-eov-operation-handler: controllers/CatalogController
  /plugins:
    get:
      description: Get all plugins in a tenant
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/plugins/#getPlugIns
      operationId: GetPlugIns
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfPlugins'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - bearerAuth: []
      summary: Get all plugins in a tenant
      tags:
      - Plugins
      x-eov-operation-handler: controllers/PluginsController
    post:
      description: Create a new plugin and get its generated ID and secret.
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/plugins/#createPlugin
      operationId: CreatePlugin
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              description: Object defining the properties to update and their new
                values
              properties:
                id:
                  description: The template ID to be installed
                  type: string
              type: object
        description: List of properties to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - bearerAuth: []
      summary: Create a new plugin
      tags:
      - Plugins
      x-eov-operation-handler: controllers/PluginsController
  /plugins/{id}/regenerateSecret:
    post:
      description: Regenerate a plugin secret
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/plugins/#regeneratePluginSecret
      operationId: RegeneratePluginSecret
      parameters:
      - description: The plugin ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - bearerAuth: []
      summary: Regenerate a plugin secret
      tags:
      - Plugins
      x-eov-operation-handler: controllers/PluginsController
  /plugins/{id}:
    delete:
      description: Delete a plugin
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/plugins/#deletePlugin
      operationId: DeletePlugin
      parameters:
      - description: ID of the plugin to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - bearerAuth: []
      summary: Delete a plugin
      tags:
      - Plugins
      x-eov-operation-handler: controllers/PluginsController
    put:
      description: Update a plugin
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/plugins/#updatePlugin
      operationId: UpdatePlugin
      parameters:
      - description: ID of the plugin to update
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              description: Object defining the properties to update and their new
                values
              properties:
                name:
                  description: The plugin name
                  type: string
                description:
                  description: The plugin description
                  type: string
                enabled:
                  description: The plugin status, enabled or disabled
                  type: boolean
              type: object
        description: List of properties to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - bearerAuth: []
      summary: Update a plugin
      tags:
      - Plugins
      x-eov-operation-handler: controllers/PluginsController
  /jobs/{id}:
    get:
      description: Get detailed information about a job (Status, logs...)
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/jobs/#getJob
      operationId: GetJob
      parameters:
      - description: The job ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - pluginId: []
        pluginSecret: []
      summary: Get detailed information about a job (Status, logs...)
      tags:
      - Jobs
      x-eov-operation-handler: controllers/JobsController
  /jobs/provisioning:
    post:
      description: Create a new provisioning job by sending a ProvisioningRequest
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/jobs/#createProvisioningJob
      operationId: CreateProvisioningJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisioningRequest'
        description: A ProvisioningRequest object describing the job to execute
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Operation executed successfully.
        "404":
          description: The ressource cannot be found.
        "429":
          description: Too many requests. Your request has been throttled.
        "401":
          description: API key or app id are missing or invalid.
        "500":
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
        default:
          description: The server encountered an unexpected condition that prevented
            it from fulfilling the request.
      security:
      - pluginId: []
        pluginSecret: []
      summary: Create a new provisioning job by sending a ProvisioningRequest
      tags:
      - Jobs
      x-eov-operation-handler: controllers/JobsController
components:
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: true
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: true
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: true
  responses:
    Success:
      description: Operation executed successfully.
    UnauthorizedError:
      description: API key or app id are missing or invalid.
    NotFoundError:
      description: The ressource cannot be found.
    TooManyRequests:
      description: Too many requests. Your request has been throttled.
    InternalServerError:
      description: The server encountered an unexpected condition that prevented it
        from fulfilling the request.
  schemas:
    ArrayOfStoreTemplates:
      description: A list of templates from the public template store
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store
      items:
        $ref: '#/components/schemas/StoreTemplate'
      type: array
    StoreTemplate:
      description: A template from the public template store
      example:
        templateConfiguration:
          id: id
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store
      properties:
        templateConfiguration:
          $ref: '#/components/schemas/StoreTemplate_templateConfiguration'
    ArrayOfStoreCategories:
      description: A list of categories from the public template store
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store
      items:
        $ref: '#/components/schemas/StoreCategory'
      type: array
    StoreCategory:
      description: A category of templates from the public template store
      example:
        id: id
        label:
          en-us: en-us
          fr-fr: fr-fr
        slug: slug
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/store
      properties:
        id:
          description: Category ID
          type: string
        label:
          $ref: '#/components/schemas/StoreCategory_label'
        slug:
          description: Category slug used for clean and seo-friendly urls
          type: string
    ArrayOfCatalogTemplates:
      description: A list of templates from the corporate catalog
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/catalog
      items:
        $ref: '#/components/schemas/CatalogTemplate'
      type: array
    CatalogTemplate:
      description: A template from the corporate catalog
      example:
        templateConfiguration:
          id: id
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/catalog
      properties:
        templateConfiguration:
          $ref: '#/components/schemas/CatalogTemplate_templateConfiguration'
    ArrayOfPlugins:
      description: A list of platform plugins (aka "Virtual Apps")
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/plugins
      items:
        $ref: '#/components/schemas/Plugin'
      type: array
    Plugin:
      description: A platform plugin (aka "Virtual Apps")
      example:
        templateConfiguration:
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          description: description
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          secret: secret
          enabled: true
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/plugins
      properties:
        templateConfiguration:
          $ref: '#/components/schemas/Plugin_templateConfiguration'
    Job:
      description: A job that performs some tasks asynchronously
      example:
        data: '{}'
        log:
        - log
        - log
        progress: 8
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: type
        status: active
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/jobs
      properties:
        id:
          description: The job ID, auto-generated at creation
          format: uuid
          type: string
        log:
          description: The job audit log
          items:
            type: string
          type: array
        type:
          description: The job type (for instance `ProvisioningRequest`)
          type: string
        status:
          description: The job current status
          enum:
          - active
          - waiting
          - completed
          - failed
          - deleyed
          - paused
          type: string
        progress:
          description: The job current progress
          maximum: 100
          minimum: 0
          type: integer
        data:
          description: The job data (for instance a `ProvisioningRequest` object)
          type: object
    ProvisioningRequest:
      description: A request to provision a team based on a template from your corporate
        catalog
      example:
        requestedOwners:
        - upn: upn
          id: id
          email: email
        - upn: upn
          id: id
          email: email
        requestedTeamName: requestedTeamName
        requestedTeamDescription: requestedTeamDescription
        onBehalfOfRequester:
          upn: upn
          id: id
          email: email
        requestedTeamWelcomeMessage: requestedTeamWelcomeMessage
        templateId: templateId
        requestedMembers:
        - upn: upn
          id: id
          email: email
        - upn: upn
          id: id
          email: email
      externalDocs:
        url: https://developers.salestim.com/api/reference/resources/jobs
      properties:
        templateId:
          description: The template ID
          type: string
        requestedTeamName:
          description: Requested team name
          type: string
        requestedTeamDescription:
          description: Requested team description
          type: string
        requestedTeamWelcomeMessage:
          description: Requested team welcome message
          type: string
        requestedMembers:
          description: Requested members as an array of objects
          items:
            $ref: '#/components/schemas/ProvisioningRequest_requestedMembers'
          type: array
        requestedOwners:
          description: Requested owners as an array of users. User identifier could
            be its ID, UPN or email.
          items:
            $ref: '#/components/schemas/ProvisioningRequest_requestedMembers'
          type: array
        onBehalfOfRequester:
          $ref: '#/components/schemas/ProvisioningRequest_onBehalfOfRequester'
      required:
      - requestedTeamName
      - templateId
    inline_object:
      description: Object defining the ID of the template to be installed
      properties:
        id:
          description: The template ID to be installed
          type: string
      type: object
    inline_object_1:
      description: Object defining the properties to update and their new values
      properties:
        id:
          description: The template ID to be installed
          type: string
      type: object
    inline_object_2:
      description: Object defining the properties to update and their new values
      properties:
        name:
          description: The plugin name
          type: string
        description:
          description: The plugin description
          type: string
        enabled:
          description: The plugin status, enabled or disabled
          type: boolean
      type: object
    StoreTemplate_templateConfiguration:
      description: Main template properties
      example:
        id: id
      properties:
        id:
          description: Template ID
          type: string
          x-ms-summary: Template ID
    StoreCategory_label:
      description: Collection of localized category labels
      example:
        en-us: en-us
        fr-fr: fr-fr
      properties:
        en-us:
          description: Category label localized for en-us.
          type: string
        fr-fr:
          description: Category label localized for fr-fr.
          type: string
    CatalogTemplate_templateConfiguration:
      description: Main template properties
      example:
        id: id
      properties:
        id:
          description: Template ID
          type: string
    Plugin_templateConfiguration:
      description: Main template properties
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        createdBy: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        description: description
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        secret: secret
        enabled: true
      properties:
        name:
          description: The plugin name
          maxLength: 256
          minLength: 3
          type: string
        description:
          description: The plugin description
          maxLength: 1024
          minLength: 0
          type: string
        createdBy:
          description: The ID (Fron Azure AD) of the user that created the plugin
          format: uuid
          type: string
        createdAt:
          description: The date of creation of the plugin
          format: date-time
          type: string
        id:
          description: The plugin ID, auto-generated at creation
          format: uuid
          type: string
        secret:
          description: |
            The plugin secret, auto-generated at creation. It may also be regenerated later. Be careful, this property is only available at creation or after an explicit regeneration.
          format: password
          type: string
        enabled:
          default: true
          description: The plugin status, enabled or disabled
          type: boolean
    ProvisioningRequest_requestedMembers:
      example:
        upn: upn
        id: id
        email: email
      properties:
        id:
          description: User ID
          type: string
        upn:
          description: User UPN
          type: string
        email:
          description: User email
          type: string
    ProvisioningRequest_onBehalfOfRequester:
      description: When creating a new request in `application mode`, indicates that
        the request should be executed on behalf of a specific user. User identifier
        could be its ID, UPN or email. This property is ignored in `delegated mode`.
      example:
        upn: upn
        id: id
        email: email
      properties:
        id:
          description: User ID
          type: string
        upn:
          description: User UPN
          type: string
        email:
          description: User email
          type: string
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: A valid Microsoft 365 access_token issued by Azure AD
      scheme: bearer
      type: http
    pluginId:
      description: A valid plugin ID
      in: header
      name: X-APP-ID
      type: apiKey
    pluginSecret:
      description: A valid plugin secret
      in: header
      name: X-API-KEY
      type: apiKey
